---
import Layout from "~/layouts/Layout.astro";
import Navbar from "~/components/Navbar.astro";
import HeroSection from "~/components/HeroSection";
import SocialProof from "~/components/SocialProof.astro";
import PlayerHowItWorks from "~/components/PlayerHowItWorks.astro";
import PlayerTestimonials from "~/components/PlayerTestimonials.astro";
import PlayerCta from "~/components/PlayerCta.astro";
import PlayerWaitlist from "~/components/PlayerWaitlist.astro";
import Features from "~/components/Features.astro";
import HowItWorks from "~/components/HowItWorks.astro";
import ComparisonTable from "~/components/ComparisonTable.astro";
import CtaSection from "~/components/CtaSection.astro";
import Footer from "~/components/Footer.astro";

export const prerender = true;
---

<Layout>
  <Navbar />
  <main>
    <HeroSection client:load />
    <SocialProof />
    <div data-for="player">
      <PlayerHowItWorks />
      <PlayerTestimonials />
      <PlayerCta />
      <PlayerWaitlist />
    </div>
    <div data-for="org">
      <Features />
      <HowItWorks />
      <ComparisonTable />
      <CtaSection />
    </div>
  </main>
  <Footer />
</Layout>
