---
import Layout from "~/layouts/Layout.astro";
import Navbar from "~/components/Navbar.astro";
import HeroSection from "~/components/HeroSection";
import SocialProof from "~/components/SocialProof.astro";
import ProblemSolution from "~/components/ProblemSolution.astro";
import Features from "~/components/Features.astro";
import HowItWorks from "~/components/HowItWorks.astro";
import ComparisonTable from "~/components/ComparisonTable.astro";
import CtaSection from "~/components/CtaSection.astro";
import Footer from "~/components/Footer.astro";

export const prerender = true;
---

<Layout>
  <Navbar />
  <main>
    <HeroSection client:load />
    <SocialProof />
    <ProblemSolution />
    <Features />
    <HowItWorks />
    <ComparisonTable />
    <CtaSection />
  </main>
  <Footer />
</Layout>
